#contained-button-file {
  position: relative;
  z-index: -2;
  top: -38px;
  left: -100px;
  width: 100%;
  color: white;

}

#contained-button-file::before {
  content: '____________';
  color: #43464d;
  background-color: #43464d;
  position: relative;
  left: 88px;
  border-top: 3px solid #43464d;
  border-bottom: 3px solid #43464d;
}

.headers {
  color: white;
}

.file-picker {
  z-index: 20000;
}

.MuiFormLabel-root {
  color: rgba(255, 255, 255, 0.54) !important;
}

.MuiInputBase-root {
  color: rgba(255, 255, 255, 0.87) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.23) !important;
}