.toast {
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;

  z-index: 500;
  width: 60vw;
  height: 15vh;
  left: 20vw;
  bottom: 5vh;
  border-radius: 10px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;

  transition: opacity 1200ms, background-color 1200ms, visibility 1200ms;
}

.toast p {
  font-size: 3vh;
  text-align: center;
}

.toast-show {
  opacity: 1;
  visibility: visible;
  background-color: #ffffff; /* default color */
  transition: opacity 1000ms, background-color, 1000ms, visibility 0ms;
}
